<% javascript :defaults, 'delegate' %>
<h1>Question Edit</h1>
<% form_for [@quizz, @question] do |f| -%>
<div class="question">
  <div class="float_label" >   
    <p><%= f.label :question %><br />
    <%= f.text_area :description, :size => "50x2" %></p>
  </div>
  
  <div class="float_label" >   
    <p><%= f.label :weight %><br />
    <%= f.select :weight, Question::QUESTION_WEIGHT.map{|t| t} %></p>
  </div>
  
  <div class="float_label" >   
    <p><%= f.label :type %><br />
    <%= f.select :question_type, Question::QUESTION_TYPES.map { |t| [t.humanize, t] },{}, {:onchange => "show_question_type(this)" } %></p>
  </div>
  
  <br class="clear" />
  
  <div id="text" style="display:block">
    <textarea disabled="disabled" style="width:400px;height:40px"></textarea>
  </div>

  <div id="choices" style="display:none">
    <% f.fields_for :multiple_choices do |choice_form| %>
      <% content_for :jstemplates do -%>
        <%= "var choice='#{generate_template(f, :multiple_choices)}'" %>
      <% end -%>
      <%= render :partial => 'multiple_choice', :locals => { :f => choice_form } %>
    <% end %>
  </div>
  <p id="add_choice" style="display:block"><%= link_to 'Add a choice', '#choice', :class => "add_nested_item", :rel => "choices" %></p>
</div>
<div class="float_label" >
<%= submit_tag "Submit" %>
</div>
<div class="float_label" >
<%= link_to "Finish", quizzs_path %>
</div>
<br class="clear" />
<% end %>
<% content_for :jstemplates do -%>
function show_question_type(obj){
  if(obj.value == 'MULTIPLE_CHOICES'){
    $('choices').show();
    $('add_choice').show();
    $('text').hide();
  } else if (obj.value == 'TEXT'){
    $('choices').hide();
    $('add_choice').hide();
    $('text').show();
  }
}
<% end -%>
