<h1>Quizzes List</h1>

<dt>
  <% for quizz in @quizzs %>
    <dl>
      <strong><%= quizz.title %></strong>
    [<%= link_to 'Show', quizz_path(quizz) %>]
    [<%= link_to 'Edit', edit_quizz_path(quizz) %>]
    [<%= link_to 'Delete', quizz, :method => "delete", :confirm => "Are you sure?" %>]
    [<%= link_to 'Send' %>]
  </dl>
  <dd>
    [<%= link_to 'Manage questions', new_quizz_question_path(quizz) %>]
    [<%= link_to 'Manage subscribers' %>]
  </dd>
  <% end %>
</dt>
<br style="clear" />
<%= link_to 'New Quizz', new_quizz_path %>
